.soc1al {
    &__list {
        display: flex;
        column-gap: 20px;
    }
    
    &-link {
        @include flex-center(true);
        @include square(30px);

        color: var(--color-dark);
        background-color: var(--color-ligth);
        border-radius: 50%;

        @include hover {
            background-color: var(--color-accent);
        }

        svg {
            width: 50%;
            height: 50%;
        }
    }
}